.footer {
    background-color: $color-grey-dark-2;
    padding: 1rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo {
        width: 33rem;
        padding-left: 10rem;

        @include respond(tab-port) {
            height: 100%;
            float: center;
        }
        
     }

    &__logo-box {
        width: 5rem;

        @include respond(tab-port) {
        }

    }

    &__copyright {
        border-top: 3px solid $color-grey-dark;
        display: inline-block;
        margin-top: 12rem;
        padding-top: .5rem;

        @include respond(tab-port) {
            margin-top: 2px;
            padding-top: 0;
        }

    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-decoration: none;
            display: inline-block;
        }
    }

}