.feature-box {
    background-color: rgba($color: $color-white, $alpha: .8);
    font-size: 1.5rem;
    padding: 3.5rem 2rem;
    text-align: center;
    border-radius: .4rem;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);
    transition: .2s;
    height: auto;

    

    &__button {
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            color: $color-grey-dark;
        }
    }

    &__icon {
        width: 9rem;
        margin: .5rem;
        display: inline-block;

        @include respond(tab-port) {
            margin-bottom: 0rem;
            width: 12rem;
        }

    }

    &__text {
        text-transform: none;

        @include respond(tab-port) {
            font-size: 3rem;
        }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.04);
    }

}